node-red/flows.json
[{"id":"5c225948.460bf8","type":"tab","label":"MQTT Initialize","disabled":false,"info":""},{"id":"7e2d2a63.651bc4","type":"tab","label":"MQTT Debugger","disabled":false,"info":"Debugs MQTT Topics"},{"id":"4df1ebb8.41e0d4","type":"tab","label":"Front Door","disabled":false,"info":""},{"id":"715ebfee.b4e02","type":"tab","label":"Voice Commands","disabled":false,"info":""},{"id":"5f814875.515c98","type":"subflow","name":"sonos speak","info":"Command to have an audio response.","category":"","in":[{"x":350,"y":190,"wires":[{"id":"b101512b.b19e1"},{"id":"144c64fe.f7018b"}]}],"out":[]},{"id":"4b7b825a.d448dc","type":"subflow","name":"sonos speak v2","info":"","category":"","in":[{"x":450,"y":440,"wires":[{"id":"276b40c2.ba3a2"},{"id":"5beed0e5.e9e68"}]}],"out":[],"inputLabels":["Settings"]},{"id":"6960f853.5a11b8","type":"server","z":"","name":"Home Assistant"},{"id":"7c2cc3ae.eb8bac","type":"mqtt-broker","z":"","name":"mqtt-hass","broker":"localhost","port":"1883","clientid":"nr_mqtt","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"hass/status","birthQos":"0","birthRetain":"true","birthPayload":"online","closeTopic":"hass/status","closeQos":"0","closeRetain":"true","closePayload":"offline","willTopic":"hass/status","willQos":"0","willRetain":"true","willPayload":"offline"},{"id":"cdd48f62.7453f","type":"mqtt in","z":"7e2d2a63.651bc4","name":"","topic":"hass/front-door/lock/locked","qos":"2","broker":"7c2cc3ae.eb8bac","x":170,"y":142,"wires":[["fa0474a2.d68068"]]},{"id":"fa0474a2.d68068","type":"debug","z":"7e2d2a63.651bc4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":142,"wires":[]},{"id":"e4a58470.245ff8","type":"mqtt in","z":"7e2d2a63.651bc4","name":"","topic":"hass/status","qos":"0","broker":"7c2cc3ae.eb8bac","x":130,"y":80,"wires":[["e34a8810.7af4c8"]]},{"id":"e34a8810.7af4c8","type":"debug","z":"7e2d2a63.651bc4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":451,"y":82,"wires":[]},{"id":"6d1c94ee.3a081c","type":"mqtt in","z":"7e2d2a63.651bc4","name":"","topic":"hass/mobile/ryan","qos":"0","broker":"7c2cc3ae.eb8bac","x":150,"y":222,"wires":[["6f946928.6bf618"]]},{"id":"ed1a0e10.2d937","type":"debug","z":"7e2d2a63.651bc4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":222,"wires":[]},{"id":"2557a433.a4fbec","type":"template","z":"7e2d2a63.651bc4","name":"Battery","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{ payload.batt }}","output":"str","x":560,"y":282,"wires":[["4e48ed26.5e1cb4"]]},{"id":"4e48ed26.5e1cb4","type":"debug","z":"7e2d2a63.651bc4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":282,"wires":[]},{"id":"8818278.584b0d8","type":"template","z":"7e2d2a63.651bc4","name":"Connection","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{ payload.conn }}","output":"str","x":570,"y":342,"wires":[["db42b185.6cd59"]]},{"id":"db42b185.6cd59","type":"debug","z":"7e2d2a63.651bc4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":342,"wires":[]},{"id":"6f946928.6bf618","type":"json","z":"7e2d2a63.651bc4","name":"","property":"payload","action":"","pretty":false,"x":350,"y":222,"wires":[["ed1a0e10.2d937","2557a433.a4fbec","8818278.584b0d8"]]},{"id":"765a6941.6c5bd8","type":"mqtt in","z":"5c225948.460bf8","name":"","topic":"hass/mobile/ryan","qos":"0","broker":"7c2cc3ae.eb8bac","x":160,"y":360,"wires":[["3025135c.634dbc"]]},{"id":"d50d166b.454268","type":"template","z":"5c225948.460bf8","name":"Battery","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{ payload.batt }}","output":"str","x":580,"y":360,"wires":[["f8b51f7.46381e"]]},{"id":"1e876ddd.c5f092","type":"template","z":"5c225948.460bf8","name":"Connection","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{ payload.conn }}","output":"str","x":590,"y":420,"wires":[["5b0a27e1.159ea8"]]},{"id":"3025135c.634dbc","type":"json","z":"5c225948.460bf8","name":"","property":"payload","action":"","pretty":false,"x":360,"y":360,"wires":[["d50d166b.454268","1e876ddd.c5f092"]]},{"id":"f8b51f7.46381e","type":"mqtt out","z":"5c225948.460bf8","name":"","topic":"hass/mobile/ryan/battery","qos":"0","retain":"true","broker":"7c2cc3ae.eb8bac","x":870,"y":360,"wires":[]},{"id":"5b0a27e1.159ea8","type":"mqtt out","z":"5c225948.460bf8","name":"","topic":"hass/mobile/ryan/connection","qos":"0","retain":"true","broker":"7c2cc3ae.eb8bac","x":880,"y":420,"wires":[]},{"id":"e0053dc7.15d78","type":"poll-state","z":"4df1ebb8.41e0d4","name":"Poll State - Front Door Sensor","server":"6960f853.5a11b8","updateinterval":"60","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.ecolink_doorwindow_sensor_access_control","x":170,"y":80,"wires":[["7514f052.dd3b8","92c1eed7.49fc2"]]},{"id":"a0811362.5f9be","type":"template","z":"4df1ebb8.41e0d4","name":"Time Since Changed","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{ data.timeSinceChangedMs }}","output":"str","x":450,"y":140,"wires":[["bd2a2e06.8bf43","f79a0c3b.94129"]]},{"id":"bd2a2e06.8bf43","type":"function","z":"4df1ebb8.41e0d4","name":"Greater Than 20 Seconds","func":"var greaterThan20Seconds = (Number(msg.payload) > 20000) ? \"true\":\"false\";\nvar newMsg = { payload: greaterThan20Seconds };\nreturn newMsg;","outputs":1,"noerr":0,"x":720,"y":80,"wires":[["2135ffd5.b48fc","47d3bbb5.8fd934"]]},{"id":"7514f052.dd3b8","type":"debug","z":"4df1ebb8.41e0d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":420,"y":80,"wires":[]},{"id":"943a56b3.ac3f78","type":"debug","z":"4df1ebb8.41e0d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":80,"wires":[]},{"id":"f79a0c3b.94129","type":"debug","z":"4df1ebb8.41e0d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":140,"wires":[]},{"id":"fd7196ef.a33078","type":"api-current-state","z":"4df1ebb8.41e0d4","name":"Lock State","server":"6960f853.5a11b8","halt_if":"locked","override_topic":true,"override_payload":true,"entity_id":"lock.front_door_lock","x":1160,"y":130,"wires":[["75cf7ea9.539d9","6c763588.1e4e5c"]]},{"id":"2135ffd5.b48fc","type":"switch","z":"4df1ebb8.41e0d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":140,"wires":[["fd7196ef.a33078","943a56b3.ac3f78"],["943a56b3.ac3f78"]]},{"id":"47d3bbb5.8fd934","type":"debug","z":"4df1ebb8.41e0d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":80,"wires":[]},{"id":"75cf7ea9.539d9","type":"api-call-service","z":"4df1ebb8.41e0d4","name":"Lock Front Door","server":"6960f853.5a11b8","service_domain":"lock","service":"lock","data":"{\"entity_id\": \"lock.front_door_lock\"}","mergecontext":"","x":1370,"y":130,"wires":[[]]},{"id":"5863ab30.6ee034","type":"server-state-changed","z":"5c225948.460bf8","name":"Front Door Lock","server":"6960f853.5a11b8","entityidfilter":"lock.front_door_lock","entityidfiltertype":"substring","haltifstate":"","x":160,"y":130,"wires":[["2370cdbd.2250b2"]]},{"id":"2370cdbd.2250b2","type":"mqtt out","z":"5c225948.460bf8","name":"","topic":"hass/front-door/locked","qos":"0","retain":"true","broker":"7c2cc3ae.eb8bac","x":510,"y":130,"wires":[]},{"id":"17e5304a.a458a","type":"api-current-state","z":"715ebfee.b4e02","name":"Sonos Available?","server":"6960f853.5a11b8","halt_if":"away","override_topic":false,"override_payload":false,"entity_id":"device_tracker.sonos_living_room","x":543,"y":310,"wires":[["fcfefbaf.ee3048"]]},{"id":"fcfefbaf.ee3048","type":"api-call-service","z":"715ebfee.b4e02","name":"Sonos Snapshot","server":"6960f853.5a11b8","service_domain":"media_player","service":"sonos_snapshot","data":"{\"entity_id\": [\"media_player.living_room_sonos\" , \"media_player.dining_room_sonos\"], \"with_group\": \"true\"}","mergecontext":"","x":753,"y":310,"wires":[["68b5110.bf6b0f"]]},{"id":"c3c7374e.08f868","type":"api-call-service","z":"715ebfee.b4e02","name":"Sonos Unjoin","server":"6960f853.5a11b8","service_domain":"media_player","service":"sonos_unjoin","data":"{\"entity_id\": [\"media_player.living_room_sonos\" , \"media_player.dining_room_sonos\"]}","mergecontext":"","x":983,"y":310,"wires":[["50ef4f0f.25d6e"]],"icon":"node-red/split.png"},{"id":"bfa18e14.f09fd","type":"api-call-service","z":"715ebfee.b4e02","name":"Sonos Join","server":"6960f853.5a11b8","service_domain":"media_player","service":"sonos_join","data":"{\"entity_id\": [\"media_player.living_room_sonos\" , \"media_player.dining_room_sonos\"], \"master\": \"media_player.living_room_sonos\"}","mergecontext":"","x":1215,"y":312,"wires":[["ddddb40c.a5ab58"]],"icon":"node-red/join.png"},{"id":"761eb4fe.8ea59c","type":"api-call-service","z":"715ebfee.b4e02","name":"Set Volume","server":"6960f853.5a11b8","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\": \"media_player.living_room_sonos\", \"volume_level\": 0.3}","mergecontext":"","x":1453,"y":310,"wires":[["9f3591a1.b99c3"]]},{"id":"8c781f0.7aa99e","type":"api-call-service","z":"715ebfee.b4e02","name":"Sonos Say","server":"6960f853.5a11b8","service_domain":"tts","service":"google_say","data":"","mergecontext":"","x":1703,"y":310,"wires":[["948fce47.b88c9"]]},{"id":"a025c2d8.b1c6b","type":"function","z":"715ebfee.b4e02","name":"Message To JSON","func":"var say = flow.get('say')||'Sorry, I am having trouble speaking';\nflow.set('say', say);\nmsg.say = say;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":250,"wires":[["17e5304a.a458a"]]},{"id":"9f3591a1.b99c3","type":"change","z":"715ebfee.b4e02","name":"Set Payload Data","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"media_player.living_room_sonos","tot":"str"},{"t":"set","p":"payload.data.message","pt":"msg","to":"say","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1473,"y":360,"wires":[["f81a831a.99dd"]]},{"id":"b9acabd2.ff6688","type":"api-call-service","z":"715ebfee.b4e02","name":"Sonos Restore","server":"6960f853.5a11b8","service_domain":"media_player","service":"sonos_restore","data":"{\"entity_id\": [\"media_player.living_room_sonos\" , \"media_player.dining_room_sonos\"], \"with_group\": \"true\"}","mergecontext":"","x":1933,"y":310,"wires":[["e5f301d1.8ac06","4c64d4b6.34cd0c"]]},{"id":"68b5110.bf6b0f","type":"change","z":"715ebfee.b4e02","name":"Reset Payload","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":753,"y":360,"wires":[["82080d8b.7d41f"]]},{"id":"50ef4f0f.25d6e","type":"change","z":"715ebfee.b4e02","name":"Reset Payload","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":993,"y":360,"wires":[["a14018bc.20f6c8"]]},{"id":"ddddb40c.a5ab58","type":"change","z":"715ebfee.b4e02","name":"Reset Payload","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1233,"y":360,"wires":[["916c2767.a79a28"]]},{"id":"ef3a6502.6dc9f8","type":"change","z":"715ebfee.b4e02","name":"Reset Payload","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1723,"y":410,"wires":[["b9acabd2.ff6688"]]},{"id":"948fce47.b88c9","type":"delay","z":"715ebfee.b4e02","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1703,"y":360,"wires":[["ef3a6502.6dc9f8"]]},{"id":"82080d8b.7d41f","type":"delay","z":"715ebfee.b4e02","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":773,"y":410,"wires":[["c3c7374e.08f868"]]},{"id":"a14018bc.20f6c8","type":"delay","z":"715ebfee.b4e02","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1023,"y":410,"wires":[["bfa18e14.f09fd"]]},{"id":"916c2767.a79a28","type":"delay","z":"715ebfee.b4e02","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1263,"y":410,"wires":[["761eb4fe.8ea59c"]]},{"id":"f81a831a.99dd","type":"delay","z":"715ebfee.b4e02","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1513,"y":406,"wires":[["8c781f0.7aa99e"]]},{"id":"693ba252.a53b0c","type":"mqtt out","z":"715ebfee.b4e02","name":"","topic":"hass/automation/speak/available","qos":"0","retain":"true","broker":"7c2cc3ae.eb8bac","x":790,"y":190,"wires":[]},{"id":"e3b330aa.8a62f","type":"change","z":"715ebfee.b4e02","name":"Set Offline","rules":[{"t":"set","p":"payload","pt":"msg","to":"offline","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":190,"wires":[["693ba252.a53b0c"]]},{"id":"dfbdd7e6.9ce9e8","type":"mqtt out","z":"715ebfee.b4e02","name":"","topic":"hass/automation/speak/available","qos":"0","retain":"true","broker":"7c2cc3ae.eb8bac","x":2233,"y":380,"wires":[]},{"id":"e5f301d1.8ac06","type":"change","z":"715ebfee.b4e02","name":"Set Online Again","rules":[{"t":"set","p":"payload","pt":"msg","to":"online","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1983,"y":380,"wires":[["dfbdd7e6.9ce9e8"]]},{"id":"7bf6675f.f9ef88","type":"mqtt in","z":"7e2d2a63.651bc4","name":"","topic":"hass/automation/speak/available","qos":"2","broker":"7c2cc3ae.eb8bac","x":220,"y":432,"wires":[["4505ec37.0b8384"]]},{"id":"4505ec37.0b8384","type":"debug","z":"7e2d2a63.651bc4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":432,"wires":[]},{"id":"bbf15964.119a78","type":"mqtt in","z":"7e2d2a63.651bc4","name":"","topic":"hass/automation/speak/start","qos":"2","broker":"7c2cc3ae.eb8bac","x":210,"y":512,"wires":[["fe48d582.3d7108"]]},{"id":"fe48d582.3d7108","type":"debug","z":"7e2d2a63.651bc4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":512,"wires":[]},{"id":"1a3b944d.95e2fc","type":"mqtt in","z":"7e2d2a63.651bc4","name":"","topic":"hass/automation/speak/message","qos":"2","broker":"7c2cc3ae.eb8bac","x":220,"y":582,"wires":[["9cfced02.7b952"]]},{"id":"9cfced02.7b952","type":"debug","z":"7e2d2a63.651bc4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":582,"wires":[]},{"id":"a94f0eff.defb9","type":"mqtt out","z":"5c225948.460bf8","name":"","topic":"hass/automation/speak/message","qos":"0","retain":"true","broker":"7c2cc3ae.eb8bac","x":580,"y":570,"wires":[]},{"id":"2718b6de.7720ba","type":"server-state-changed","z":"5c225948.460bf8","name":"Sonos Say Text Message","server":"6960f853.5a11b8","entityidfilter":"input_text.sonos_say_text","entityidfiltertype":"exact","haltifstate":"","x":190,"y":570,"wires":[["a94f0eff.defb9"]]},{"id":"7841a56f.028eec","type":"mqtt in","z":"715ebfee.b4e02","name":"","topic":"hass/automation/speak/message","qos":"2","broker":"7c2cc3ae.eb8bac","x":200,"y":510,"wires":[["5caad76c.cba958"]]},{"id":"5caad76c.cba958","type":"function","z":"715ebfee.b4e02","name":"Message To JSON","func":"var say = msg.payload;\nflow.set('say', say);\nmsg.say = say;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":510,"wires":[[]]},{"id":"bfcd8e32.c5d68","type":"mqtt in","z":"715ebfee.b4e02","name":"","topic":"hass/automation/speak/start","qos":"2","broker":"7c2cc3ae.eb8bac","x":160,"y":240,"wires":[["f6f87322.25b56"]]},{"id":"f6f87322.25b56","type":"switch","z":"715ebfee.b4e02","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":310,"wires":[["a025c2d8.b1c6b","e3b330aa.8a62f"],[]]},{"id":"7b19bdf9.31c7a4","type":"mqtt out","z":"715ebfee.b4e02","name":"","topic":"hass/automation/speak/start","qos":"0","retain":"true","broker":"7c2cc3ae.eb8bac","x":2230,"y":430,"wires":[]},{"id":"4c64d4b6.34cd0c","type":"change","z":"715ebfee.b4e02","name":"Reset Start","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1970,"y":430,"wires":[["7b19bdf9.31c7a4"]]},{"id":"92c1eed7.49fc2","type":"switch","z":"4df1ebb8.41e0d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"23","vt":"str"},{"t":"neq","v":"23","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":240,"wires":[["74e4d667.953968","a0811362.5f9be","e2a1a828.c0c528"],["74e4d667.953968","5014189c.d76c38"]],"outputLabels":["Closed","Open"]},{"id":"74e4d667.953968","type":"debug","z":"4df1ebb8.41e0d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":390,"y":240,"wires":[]},{"id":"549d16ec.907438","type":"api-current-state","z":"5f814875.515c98","name":"Sonos Available?","server":"6960f853.5a11b8","halt_if":"away","override_topic":false,"override_payload":false,"entity_id":"device_tracker.sonos_living_room","x":570,"y":250,"wires":[["9fdb6292.251a"]]},{"id":"9fdb6292.251a","type":"api-call-service","z":"5f814875.515c98","name":"Sonos Snapshot","server":"6960f853.5a11b8","service_domain":"media_player","service":"sonos_snapshot","data":"{\"entity_id\": [\"media_player.living_room_sonos\" , \"media_player.dining_room_sonos\"], \"with_group\": \"true\"}","mergecontext":"","x":780,"y":250,"wires":[["e152a04c.51e7"]]},{"id":"63e7323c.f3cb2c","type":"api-call-service","z":"5f814875.515c98","name":"Sonos Unjoin","server":"6960f853.5a11b8","service_domain":"media_player","service":"sonos_unjoin","data":"{\"entity_id\": [\"media_player.living_room_sonos\" , \"media_player.dining_room_sonos\"]}","mergecontext":"","x":1010,"y":250,"wires":[["c5b22236.98f1b"]],"icon":"node-red/split.png"},{"id":"41260d00.eca734","type":"api-call-service","z":"5f814875.515c98","name":"Sonos Join","server":"6960f853.5a11b8","service_domain":"media_player","service":"sonos_join","data":"{\"entity_id\": [\"media_player.living_room_sonos\" , \"media_player.dining_room_sonos\"], \"master\": \"media_player.living_room_sonos\"}","mergecontext":"","x":1242,"y":252,"wires":[["783a4e2c.4f057"]],"icon":"node-red/join.png"},{"id":"f5c7b1f9.d93dd","type":"api-call-service","z":"5f814875.515c98","name":"Set Volume","server":"6960f853.5a11b8","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\": \"media_player.living_room_sonos\", \"volume_level\": 0.5}","mergecontext":"","x":1480,"y":250,"wires":[["c8adfa6e.1fdaa8"]]},{"id":"b1cd6e09.5a9f9","type":"api-call-service","z":"5f814875.515c98","name":"Sonos Say","server":"6960f853.5a11b8","service_domain":"tts","service":"google_say","data":"","mergecontext":"","x":1730,"y":250,"wires":[["4dc8cf52.4494d"]]},{"id":"c8adfa6e.1fdaa8","type":"change","z":"5f814875.515c98","name":"Set Payload Data","rules":[{"t":"delete","p":"payload.data","pt":"msg"},{"t":"delete","p":"payload.service","pt":"msg"},{"t":"delete","p":"payload.domain","pt":"msg"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"media_player.living_room_sonos","tot":"str"},{"t":"set","p":"payload.data.message","pt":"msg","to":"say","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":300,"wires":[["cc41e50a.55b638"]]},{"id":"c730d2a7.408b5","type":"api-call-service","z":"5f814875.515c98","name":"Sonos Restore","server":"6960f853.5a11b8","service_domain":"media_player","service":"sonos_restore","data":"{\"entity_id\": [\"media_player.living_room_sonos\" , \"media_player.dining_room_sonos\"], \"with_group\": \"true\"}","mergecontext":"","x":1950,"y":250,"wires":[["94a76046.d7c9a"]]},{"id":"e152a04c.51e7","type":"change","z":"5f814875.515c98","name":"Reset Payload","rules":[{"t":"delete","p":"payload.data","pt":"msg"},{"t":"delete","p":"payload.service","pt":"msg"},{"t":"delete","p":"payload.domain","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":300,"wires":[["931b935.4f4be7"]]},{"id":"4dc8cf52.4494d","type":"delay","z":"5f814875.515c98","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1730,"y":300,"wires":[["c591d9e0.a5d138"]]},{"id":"931b935.4f4be7","type":"delay","z":"5f814875.515c98","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":350,"wires":[["63e7323c.f3cb2c"]]},{"id":"cf38441a.2b7448","type":"delay","z":"5f814875.515c98","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1050,"y":350,"wires":[["41260d00.eca734"]]},{"id":"1436449e.8570db","type":"delay","z":"5f814875.515c98","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1290,"y":350,"wires":[["f5c7b1f9.d93dd"]]},{"id":"cc41e50a.55b638","type":"delay","z":"5f814875.515c98","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1540,"y":346,"wires":[["b1cd6e09.5a9f9"]]},{"id":"ed6279d1.dc6608","type":"mqtt out","z":"5f814875.515c98","name":"","topic":"hass/automation/speak/available","qos":"0","retain":"true","broker":"7c2cc3ae.eb8bac","x":817,"y":130,"wires":[]},{"id":"b101512b.b19e1","type":"change","z":"5f814875.515c98","name":"Set Offline","rules":[{"t":"set","p":"payload","pt":"msg","to":"offline","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":547,"y":130,"wires":[["ed6279d1.dc6608"]]},{"id":"1ee6e3ce.9235fc","type":"mqtt out","z":"5f814875.515c98","name":"","topic":"hass/automation/speak/available","qos":"0","retain":"true","broker":"7c2cc3ae.eb8bac","x":2220,"y":190,"wires":[]},{"id":"94a76046.d7c9a","type":"change","z":"5f814875.515c98","name":"Set Online Again","rules":[{"t":"set","p":"payload","pt":"msg","to":"online","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":190,"wires":[["1ee6e3ce.9235fc"]]},{"id":"c5b22236.98f1b","type":"change","z":"5f814875.515c98","name":"Reset Payload","rules":[{"t":"delete","p":"payload.data","pt":"msg"},{"t":"delete","p":"payload.service","pt":"msg"},{"t":"delete","p":"payload.domain","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":300,"wires":[["cf38441a.2b7448"]]},{"id":"783a4e2c.4f057","type":"change","z":"5f814875.515c98","name":"Reset Payload","rules":[{"t":"delete","p":"payload.data","pt":"msg"},{"t":"delete","p":"payload.service","pt":"msg"},{"t":"delete","p":"payload.domain","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":300,"wires":[["1436449e.8570db"]]},{"id":"c591d9e0.a5d138","type":"change","z":"5f814875.515c98","name":"Reset Payload","rules":[{"t":"delete","p":"payload.data","pt":"msg"},{"t":"delete","p":"payload.service","pt":"msg"},{"t":"delete","p":"payload.domain","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1770,"y":360,"wires":[["c730d2a7.408b5"]]},{"id":"54514702.3c01b8","type":"inject","z":"715ebfee.b4e02","name":"Sample Voice Command","topic":"","payload":"This is a sample voice command.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":690,"wires":[["f1adc9bb.a95618"]]},{"id":"f1adc9bb.a95618","type":"subflow:5f814875.515c98","z":"715ebfee.b4e02","name":"","x":460,"y":690,"wires":[]},{"id":"144c64fe.f7018b","type":"change","z":"5f814875.515c98","name":"","rules":[{"t":"set","p":"say","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":190,"wires":[["549d16ec.907438"]]},{"id":"5014189c.d76c38","type":"template","z":"4df1ebb8.41e0d4","name":"Time Since Changed","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{ payload.timeSinceChangedMs }}","output":"str","x":440,"y":310,"wires":[["e1a0cbae.1f2788"]]},{"id":"e1a0cbae.1f2788","type":"function","z":"4df1ebb8.41e0d4","name":"Greater Than 5 Minutes","func":"var greaterThan20Seconds = (Number(msg.payload) > 300000) ? \"true\":\"false\";\nvar newMsg = { payload: greaterThan20Seconds };\nreturn newMsg;","outputs":1,"noerr":0,"x":720,"y":310,"wires":[["70e6d4b.0da4c2c"]]},{"id":"70e6d4b.0da4c2c","type":"switch","z":"4df1ebb8.41e0d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":310,"wires":[["1ae0cff7.e2fc2"],[]]},{"id":"f6b252b7.f85e7","type":"subflow:5f814875.515c98","z":"4df1ebb8.41e0d4","name":"","x":1370,"y":300,"wires":[]},{"id":"66984497.83950c","type":"change","z":"4df1ebb8.41e0d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"The front door has been open for more than 5 minutes. Please shut it.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":380,"wires":[["f6b252b7.f85e7","698493f7.e6facc"]]},{"id":"38bfb230.061ffe","type":"mqtt in","z":"7e2d2a63.651bc4","name":"","topic":"hass/front-door/open/warned","qos":"2","broker":"7c2cc3ae.eb8bac","x":200,"y":662,"wires":[["32026bd5.48a214"]]},{"id":"32026bd5.48a214","type":"debug","z":"7e2d2a63.651bc4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":662,"wires":[]},{"id":"15d68fb8.13e5","type":"mqtt in","z":"4df1ebb8.41e0d4","name":"","topic":"hass/front-door/open/warned","qos":"2","broker":"7c2cc3ae.eb8bac","x":240,"y":480,"wires":[["cf7ae423.47b108"]]},{"id":"cf7ae423.47b108","type":"change","z":"4df1ebb8.41e0d4","name":"","rules":[{"t":"set","p":"warned","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":480,"wires":[[]]},{"id":"1ae0cff7.e2fc2","type":"switch","z":"4df1ebb8.41e0d4","name":"","property":"warned","propertyType":"flow","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":400,"wires":[[],["66984497.83950c"]]},{"id":"62ee123f.f8381c","type":"mqtt out","z":"4df1ebb8.41e0d4","name":"","topic":"hass/front-door/open/warned","qos":"2","retain":"true","broker":"7c2cc3ae.eb8bac","x":1770,"y":400,"wires":[]},{"id":"698493f7.e6facc","type":"change","z":"4df1ebb8.41e0d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":400,"wires":[["62ee123f.f8381c"]]},{"id":"6a3e097.f3ca9f8","type":"mqtt out","z":"4df1ebb8.41e0d4","name":"","topic":"hass/front-door/open/warned","qos":"2","retain":"true","broker":"7c2cc3ae.eb8bac","x":750,"y":190,"wires":[]},{"id":"e2a1a828.c0c528","type":"change","z":"4df1ebb8.41e0d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":190,"wires":[["6a3e097.f3ca9f8"]]},{"id":"eef48ba2.2d7c78","type":"api-current-state","z":"4b7b825a.d448dc","name":"Sonos Available?","server":"6960f853.5a11b8","halt_if":"away","override_topic":false,"override_payload":false,"entity_id":"device_tracker.sonos_living_room","x":690,"y":500,"wires":[["7cccfa47.ec9034"]]},{"id":"7cccfa47.ec9034","type":"api-call-service","z":"4b7b825a.d448dc","name":"Sonos Snapshot","server":"6960f853.5a11b8","service_domain":"media_player","service":"sonos_snapshot","data":"{\"entity_id\": [\"media_player.living_room_sonos\" , \"media_player.dining_room_sonos\"], \"with_group\": \"true\"}","mergecontext":"","x":900,"y":500,"wires":[["71a08388.26f4ec"]]},{"id":"eeae5935.7ce708","type":"api-call-service","z":"4b7b825a.d448dc","name":"Sonos Unjoin","server":"6960f853.5a11b8","service_domain":"media_player","service":"sonos_unjoin","data":"{\"entity_id\": [\"media_player.living_room_sonos\" , \"media_player.dining_room_sonos\"]}","mergecontext":"","x":1130,"y":500,"wires":[["c19baf4d.bceeb"]],"icon":"node-red/split.png"},{"id":"9e66b85c.e2bde8","type":"api-call-service","z":"4b7b825a.d448dc","name":"Sonos Join","server":"6960f853.5a11b8","service_domain":"media_player","service":"sonos_join","data":"{\"entity_id\": [\"media_player.living_room_sonos\" , \"media_player.dining_room_sonos\"], \"master\": \"media_player.living_room_sonos\"}","mergecontext":"","x":1362,"y":502,"wires":[["20c03a07.f8a056"]],"icon":"node-red/join.png"},{"id":"2c142f03.5c45d","type":"api-call-service","z":"4b7b825a.d448dc","name":"Set Volume","server":"6960f853.5a11b8","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\": \"media_player.living_room_sonos\", \"volume_level\": 0.5}","mergecontext":"","x":1600,"y":500,"wires":[["27011496.6853bc"]]},{"id":"2522e508.cc619a","type":"api-call-service","z":"4b7b825a.d448dc","name":"Sonos Say","server":"6960f853.5a11b8","service_domain":"tts","service":"google_say","data":"","mergecontext":"","x":1850,"y":500,"wires":[["3f7324dd.e6164c"]]},{"id":"27011496.6853bc","type":"change","z":"4b7b825a.d448dc","name":"Set Payload Data","rules":[{"t":"delete","p":"payload.data","pt":"msg"},{"t":"delete","p":"payload.service","pt":"msg"},{"t":"delete","p":"payload.domain","pt":"msg"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"media_player.living_room_sonos","tot":"str"},{"t":"set","p":"payload.data.message","pt":"msg","to":"say","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":550,"wires":[["c6983554.aff678"]]},{"id":"9fc71d37.6f342","type":"api-call-service","z":"4b7b825a.d448dc","name":"Sonos Restore","server":"6960f853.5a11b8","service_domain":"media_player","service":"sonos_restore","data":"{\"entity_id\": [\"media_player.living_room_sonos\" , \"media_player.dining_room_sonos\"], \"with_group\": \"true\"}","mergecontext":"","x":2070,"y":500,"wires":[["eea014c0.1dbbc8"]]},{"id":"71a08388.26f4ec","type":"change","z":"4b7b825a.d448dc","name":"Reset Payload","rules":[{"t":"delete","p":"payload.data","pt":"msg"},{"t":"delete","p":"payload.service","pt":"msg"},{"t":"delete","p":"payload.domain","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":550,"wires":[["c069881c.b062e8"]]},{"id":"3f7324dd.e6164c","type":"delay","z":"4b7b825a.d448dc","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1850,"y":550,"wires":[["2c7819f3.20e3f6"]]},{"id":"c069881c.b062e8","type":"delay","z":"4b7b825a.d448dc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":600,"wires":[["eeae5935.7ce708"]]},{"id":"aaa13cb0.9726f","type":"delay","z":"4b7b825a.d448dc","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170,"y":600,"wires":[["9e66b85c.e2bde8"]]},{"id":"4905846.2936b7c","type":"delay","z":"4b7b825a.d448dc","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1410,"y":600,"wires":[["2c142f03.5c45d"]]},{"id":"c6983554.aff678","type":"delay","z":"4b7b825a.d448dc","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1660,"y":596,"wires":[["2522e508.cc619a"]]},{"id":"7944c5b9.e2f79c","type":"mqtt out","z":"4b7b825a.d448dc","name":"","topic":"hass/automation/speak/available","qos":"0","retain":"true","broker":"7c2cc3ae.eb8bac","x":937,"y":380,"wires":[]},{"id":"5beed0e5.e9e68","type":"change","z":"4b7b825a.d448dc","name":"Set Offline","rules":[{"t":"set","p":"payload","pt":"msg","to":"offline","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":667,"y":380,"wires":[["7944c5b9.e2f79c"]]},{"id":"ec910fea.b4fde","type":"mqtt out","z":"4b7b825a.d448dc","name":"","topic":"hass/automation/speak/available","qos":"0","retain":"true","broker":"7c2cc3ae.eb8bac","x":2340,"y":440,"wires":[]},{"id":"eea014c0.1dbbc8","type":"change","z":"4b7b825a.d448dc","name":"Set Online Again","rules":[{"t":"set","p":"payload","pt":"msg","to":"online","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2080,"y":440,"wires":[["ec910fea.b4fde"]]},{"id":"c19baf4d.bceeb","type":"change","z":"4b7b825a.d448dc","name":"Reset Payload","rules":[{"t":"delete","p":"payload.data","pt":"msg"},{"t":"delete","p":"payload.service","pt":"msg"},{"t":"delete","p":"payload.domain","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":550,"wires":[["aaa13cb0.9726f"]]},{"id":"20c03a07.f8a056","type":"change","z":"4b7b825a.d448dc","name":"Reset Payload","rules":[{"t":"delete","p":"payload.data","pt":"msg"},{"t":"delete","p":"payload.service","pt":"msg"},{"t":"delete","p":"payload.domain","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":550,"wires":[["4905846.2936b7c"]]},{"id":"2c7819f3.20e3f6","type":"change","z":"4b7b825a.d448dc","name":"Reset Payload","rules":[{"t":"delete","p":"payload.data","pt":"msg"},{"t":"delete","p":"payload.service","pt":"msg"},{"t":"delete","p":"payload.domain","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1890,"y":610,"wires":[["9fc71d37.6f342"]]},{"id":"276b40c2.ba3a2","type":"change","z":"4b7b825a.d448dc","name":"","rules":[{"t":"set","p":"say","pt":"flow","to":"say","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":440,"wires":[["eef48ba2.2d7c78"]]},{"id":"c43e84df.8eb8a8","type":"inject","z":"715ebfee.b4e02","name":"Sample JSON for Sonos V2","topic":"","payload":"{\"settings\":{\"master\":\"media_player.living_room_sonos\",\"group_list\":[\"media_player.living_room_sonos\",\"media_player.dining_room_sonos\"],\"volume\":0.6},\"msg\":\"Sample message\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":900,"wires":[["4c269eab.1e8ef"]]},{"id":"b9ba3702.d3e3f8","type":"debug","z":"715ebfee.b4e02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":890,"wires":[]},{"id":"4c269eab.1e8ef","type":"json","z":"715ebfee.b4e02","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":890,"wires":[["b9ba3702.d3e3f8"]]},{"id":"6c763588.1e4e5c","type":"debug","z":"4df1ebb8.41e0d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1370,"y":80,"wires":[]},{"id":"b292df3b.e9d73","type":"subflow:4b7b825a.d448dc","z":"715ebfee.b4e02","name":"","x":660,"y":740,"wires":[]},{"id":"3f876b4c.85e754","type":"inject","z":"715ebfee.b4e02","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":760,"wires":[["7c3a2a18.338794"]]},{"id":"7c3a2a18.338794","type":"change","z":"715ebfee.b4e02","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"say","pt":"msg","to":"This is a test","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.1","tot":"num"},{"t":"set","p":"entities","pt":"msg","to":"{\"entity_id\":[\"media_player.living_room_sonos\",\"media_player.dining_room_sonos\",\"media_player.family_room_sonos\"]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":740,"wires":[["83c9f5b5.a8c128"]]},{"id":"6d26f21a.583c1c","type":"debug","z":"715ebfee.b4e02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":840,"wires":[]},{"id":"83c9f5b5.a8c128","type":"debug","z":"715ebfee.b4e02","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":580,"y":800,"wires":[]},{"id":"ffa44bf2.eb1258","type":"mqtt in","z":"7e2d2a63.651bc4","name":"","topic":"hass/automation/reminders/trash/status","qos":"2","broker":"7c2cc3ae.eb8bac","x":230,"y":740,"wires":[["5380fa37.8966e4"]]},{"id":"5380fa37.8966e4","type":"debug","z":"7e2d2a63.651bc4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":740,"wires":[]},{"id":"e8ca3b98.b05ab8","type":"inject","z":"7e2d2a63.651bc4","name":"","topic":"hass/automation/reminders/trash/status","payload":"online","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":800,"wires":[["c9f7a792.c31a98"]]},{"id":"c9f7a792.c31a98","type":"mqtt out","z":"7e2d2a63.651bc4","name":"","topic":"hass/automation/reminders/trash/status","qos":"2","retain":"true","broker":"7c2cc3ae.eb8bac","x":490,"y":800,"wires":[]}]