node-red/flows.json
[{"id":"b58633ae.2c4ce","type":"tab","label":"Front Door","disabled":false,"info":""},{"id":"612c5e89.a6411","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3b0e487b.23f5d8","type":"subflow","name":"Say","info":"Input needs to be a msg payload with the two fields:\n\nmessage - What you want Sonos to say\nvolume_level - How loud do you want Sonos to say it\n\n{\n    \"message\": \"This is a sample voice command.\",\n    \"volume_level\": 0.3\n}","category":"","in":[{"x":104,"y":156,"wires":[{"id":"7fa3f37.2ca830c"},{"id":"64b30171.65263"}]}],"out":[]},{"id":"bc19817.80e8e8","type":"subflow","name":"Activate LED","info":"","category":"","in":[{"x":32,"y":300,"wires":[{"id":"4e6e22f0.09f34c"}]}],"out":[]},{"id":"cae808c1.289918","type":"subflow","name":"Light Automation","info":"","category":"","in":[{"x":68,"y":216,"wires":[{"id":"43520454.b9294c"}]}],"out":[]},{"id":"ab72d2fa.02a33","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"d960e8de.e65708","type":"mqtt-broker","z":"","name":"mqtt-hass","broker":"localhost","port":"1883","clientid":"nr_mqtt","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"hass/status","birthQos":"0","birthRetain":"true","birthPayload":"online","closeTopic":"hass/status","closeQos":"0","closeRetain":"true","closePayload":"offline","willTopic":"hass/status","willQos":"0","willRetain":"true","willPayload":"offline"},{"id":"58448f0.271397","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"259347f3.c98018","type":"poll-state","z":"b58633ae.2c4ce","name":"Poll State - Front Door Sensor","server":"ab72d2fa.02a33","version":1,"updateinterval":"30","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.ecolink_doorwindow_sensor_access_control","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":170,"y":80,"wires":[["a087298d.77c298","20d03680.423e1a"]]},{"id":"1639b26d.47212e","type":"template","z":"b58633ae.2c4ce","name":"Time Since Changed","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{ data.timeSinceChangedMs }}","output":"str","x":450,"y":140,"wires":[["9a8dad52.b3f48","451ffd0d.6fdec4"]]},{"id":"9a8dad52.b3f48","type":"function","z":"b58633ae.2c4ce","name":"Greater Than 20 Seconds","func":"var greaterThan20Seconds = (Number(msg.payload) > 20000) ? \"true\":\"false\";\nvar newMsg = { payload: greaterThan20Seconds };\nreturn newMsg;","outputs":1,"noerr":0,"x":720,"y":80,"wires":[["c0b10076.bf3e4","ca761568.e243f8"]]},{"id":"a087298d.77c298","type":"debug","z":"b58633ae.2c4ce","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":420,"y":80,"wires":[]},{"id":"63c2ca5a.d37044","type":"debug","z":"b58633ae.2c4ce","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":80,"wires":[]},{"id":"451ffd0d.6fdec4","type":"debug","z":"b58633ae.2c4ce","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":140,"wires":[]},{"id":"be917730.da14b8","type":"api-current-state","z":"b58633ae.2c4ce","name":"Lock State","server":"ab72d2fa.02a33","outputs":1,"halt_if":"locked","override_topic":true,"entity_id":"lock.front_door_lock","override_payload":true,"x":1160,"y":130,"wires":[["d517abbf.cc6038","4898e03f.50464"]]},{"id":"c0b10076.bf3e4","type":"switch","z":"b58633ae.2c4ce","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":140,"wires":[["be917730.da14b8","63c2ca5a.d37044"],["63c2ca5a.d37044"]]},{"id":"ca761568.e243f8","type":"debug","z":"b58633ae.2c4ce","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":80,"wires":[]},{"id":"d517abbf.cc6038","type":"api-call-service","z":"b58633ae.2c4ce","name":"Lock Front Door","server":"ab72d2fa.02a33","service_domain":"lock","service":"lock","data":"{\"entity_id\":\"lock.front_door_lock\",\"code\":\"1492\"}","mergecontext":"","x":1370,"y":130,"wires":[["6d097a17.7dfaa4"]]},{"id":"20d03680.423e1a","type":"switch","z":"b58633ae.2c4ce","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"23","vt":"str"},{"t":"neq","v":"23","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":240,"wires":[["9c517f8.fc1c88","1639b26d.47212e","2ee42b15.c67be4"],["9c517f8.fc1c88","df8fa3ed.559e2"]],"outputLabels":["Closed","Open"]},{"id":"9c517f8.fc1c88","type":"debug","z":"b58633ae.2c4ce","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":390,"y":240,"wires":[]},{"id":"df8fa3ed.559e2","type":"template","z":"b58633ae.2c4ce","name":"Time Since Changed","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{ payload.timeSinceChangedMs }}","output":"str","x":440,"y":310,"wires":[["840f0ca5.07983"]]},{"id":"840f0ca5.07983","type":"function","z":"b58633ae.2c4ce","name":"Greater Than 5 Minutes","func":"var greaterThan20Seconds = (Number(msg.payload) > 300000) ? \"true\":\"false\";\nvar newMsg = { payload: greaterThan20Seconds };\nreturn newMsg;","outputs":1,"noerr":0,"x":720,"y":310,"wires":[["7af20c43.6a2bc4"]]},{"id":"7af20c43.6a2bc4","type":"switch","z":"b58633ae.2c4ce","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":310,"wires":[["dec4a880.5fb8f8"],[]]},{"id":"90cd82dc.d12d3","type":"change","z":"b58633ae.2c4ce","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.message","pt":"msg","to":"The front door has been open for more than 5 minutes. Please shut it.","tot":"str"},{"t":"set","p":"payload.volume_level","pt":"msg","to":"0.4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":380,"wires":[["ddae4614.ab8028","3d2ed2ae.ea48ae"]]},{"id":"641cd11c.e238a","type":"mqtt in","z":"b58633ae.2c4ce","name":"","topic":"hass/front-door/open/warned","qos":"2","broker":"d960e8de.e65708","x":240,"y":480,"wires":[["fac7081c.317c48"]]},{"id":"fac7081c.317c48","type":"change","z":"b58633ae.2c4ce","name":"","rules":[{"t":"set","p":"warned","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":480,"wires":[[]]},{"id":"dec4a880.5fb8f8","type":"switch","z":"b58633ae.2c4ce","name":"","property":"warned","propertyType":"flow","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":400,"wires":[[],["90cd82dc.d12d3"]]},{"id":"92e125b.5213cd8","type":"mqtt out","z":"b58633ae.2c4ce","name":"","topic":"hass/front-door/open/warned","qos":"2","retain":"true","broker":"d960e8de.e65708","x":1770,"y":400,"wires":[]},{"id":"ddae4614.ab8028","type":"change","z":"b58633ae.2c4ce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":400,"wires":[["92e125b.5213cd8"]]},{"id":"79308f5b.e8323","type":"mqtt out","z":"b58633ae.2c4ce","name":"","topic":"hass/front-door/open/warned","qos":"2","retain":"true","broker":"d960e8de.e65708","x":750,"y":190,"wires":[]},{"id":"2ee42b15.c67be4","type":"change","z":"b58633ae.2c4ce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":190,"wires":[["79308f5b.e8323"]]},{"id":"4898e03f.50464","type":"debug","z":"b58633ae.2c4ce","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1370,"y":80,"wires":[]},{"id":"6d097a17.7dfaa4","type":"debug","z":"b58633ae.2c4ce","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1570,"y":80,"wires":[]},{"id":"47adb4c5.30cabc","type":"server-state-changed","z":"b58633ae.2c4ce","name":"Front Door Lock","server":"ab72d2fa.02a33","entityidfilter":"lock.front_door_lock","entityidfiltertype":"exact","outputinitially":true,"haltifstate":"","outputs":1,"x":140,"y":580,"wires":[["9b7a3764.225fa8"]]},{"id":"9b7a3764.225fa8","type":"mqtt out","z":"b58633ae.2c4ce","name":"","topic":"hass/front-door/locked","qos":"0","retain":"true","broker":"d960e8de.e65708","x":490,"y":580,"wires":[]},{"id":"64b30171.65263","type":"change","z":"3b0e487b.23f5d8","name":"Handle User Input","rules":[{"t":"set","p":"message","pt":"flow","to":"payload.message","tot":"msg"},{"t":"set","p":"volume_level","pt":"flow","to":"payload.volume_level","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":246,"y":228,"wires":[["f47b1217.703ce"]]},{"id":"f47b1217.703ce","type":"ha-get-entities","z":"3b0e487b.23f5d8","server":"ab72d2fa.02a33","name":"Get Sonos","rules":[{"property":"entity_id","logic":"starts_with","value":"media_player","valueType":"str"},{"property":"attributes.supported_features","logic":"is","value":"64063","valueType":"num"}],"output_type":"array","output_empty_results":true,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":250,"y":276,"wires":[["4ce9c1b8.f64b4"]]},{"id":"4ce9c1b8.f64b4","type":"switch","z":"3b0e487b.23f5d8","name":"Sonos Available?","property":"payload.length","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":306,"y":324,"wires":[["4d584bec.482fe4"],[]],"outputLabels":["Entities were found.","No entities found."]},{"id":"4d584bec.482fe4","type":"function","z":"3b0e487b.23f5d8","name":"Define variables","func":"var entities_ids = \"\";\nvar master_entity_id = \"\";\nvar volume = flow.get(\"volume_level\")||0.1;\nvar message = flow.get(\"message\")||\"\";\nvar with_group = true;\n\nfor (let i=0; i<msg.payload.length; i++){\n    entities_ids += msg.payload[i].entity_id;\n    if (i<msg.payload.length-1) {\n        entities_ids += \",\";\n    }\n    if (i===0) {\n        master_entity_id = msg.payload[i].entity_id;\n    }\n}\n\nvar flowMsg = {\n    payload: {\n        entity_id: entities_ids,\n        master: master_entity_id,\n        volume_level: volume,\n        message: message,\n        with_group: with_group\n    }\n};\nreturn flowMsg;","outputs":1,"noerr":0,"x":488,"y":192,"wires":[["b79f3b6c.a5c4a8"]]},{"id":"b79f3b6c.a5c4a8","type":"change","z":"3b0e487b.23f5d8","name":"Save variables as flow","rules":[{"t":"set","p":"data","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":532,"y":240,"wires":[["6885ad25.1cbc24"]]},{"id":"6885ad25.1cbc24","type":"change","z":"3b0e487b.23f5d8","name":"Prep Sonos Snapshot","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"data.entity_id","tot":"flow"},{"t":"set","p":"payload.data.with_group","pt":"msg","to":"data.with_group","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":568,"y":288,"wires":[["9ebeaa83.a9e808"]]},{"id":"9ebeaa83.a9e808","type":"api-call-service","z":"3b0e487b.23f5d8","name":"Sonos Snapshot","server":"ab72d2fa.02a33","service_domain":"media_player","service":"sonos_snapshot","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":572,"y":336,"wires":[["73917d0b.e071a4"]]},{"id":"73917d0b.e071a4","type":"delay","z":"3b0e487b.23f5d8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":612,"y":384,"wires":[["bc231ca2.5d582"]]},{"id":"bc231ca2.5d582","type":"change","z":"3b0e487b.23f5d8","name":"Prep Sonos Unjoin","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"data.entity_id","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":824,"y":192,"wires":[["d93e4e2d.3f529"]]},{"id":"d93e4e2d.3f529","type":"api-call-service","z":"3b0e487b.23f5d8","name":"Sonos Unjoin","server":"ab72d2fa.02a33","service_domain":"media_player","service":"sonos_unjoin","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":828,"y":240,"wires":[["8a4811df.209bc"]],"icon":"node-red/split.png"},{"id":"8a4811df.209bc","type":"delay","z":"3b0e487b.23f5d8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":288,"wires":[["f57c574c.1ec5e8"]]},{"id":"f57c574c.1ec5e8","type":"change","z":"3b0e487b.23f5d8","name":"Prep Sonos Join","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"data.entity_id","tot":"flow"},{"t":"set","p":"payload.data.master","pt":"msg","to":"data.master","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":826,"y":336,"wires":[["76c97084.5c786"]]},{"id":"4d13ae65.029af","type":"change","z":"3b0e487b.23f5d8","name":"Prep Sonos Volume","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"data.entity_id","tot":"flow"},{"t":"set","p":"payload.data.volume_level","pt":"msg","to":"data.volume_level","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1086,"y":192,"wires":[["5b5deaa5.2cd6b4"]]},{"id":"7a336585.3f4dac","type":"change","z":"3b0e487b.23f5d8","name":"Prep Sonos Say","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"data.entity_id","tot":"flow"},{"t":"set","p":"payload.data.message","pt":"msg","to":"data.message","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":336,"wires":[["f796d128.3dee2"]]},{"id":"76c97084.5c786","type":"api-call-service","z":"3b0e487b.23f5d8","name":"Sonos Join","server":"ab72d2fa.02a33","service_domain":"media_player","service":"sonos_join","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":384,"wires":[["7fd084e6.d55e7c"]],"icon":"node-red/join.png"},{"id":"7fd084e6.d55e7c","type":"delay","z":"3b0e487b.23f5d8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":852,"y":432,"wires":[["4d13ae65.029af"]]},{"id":"5b5deaa5.2cd6b4","type":"api-call-service","z":"3b0e487b.23f5d8","name":"Set Volume","server":"ab72d2fa.02a33","service_domain":"media_player","service":"volume_set","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1078,"y":240,"wires":[["38d1c839.809688"]]},{"id":"38d1c839.809688","type":"delay","z":"3b0e487b.23f5d8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1078,"y":288,"wires":[["7a336585.3f4dac"]]},{"id":"f796d128.3dee2","type":"api-call-service","z":"3b0e487b.23f5d8","name":"Sonos Say","server":"ab72d2fa.02a33","service_domain":"tts","service":"google_translate_say","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1102,"y":384,"wires":[["6b76f148.f7a89","13aa7902.7c3fe7"]]},{"id":"6b76f148.f7a89","type":"delay","z":"3b0e487b.23f5d8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":432,"wires":[["4eb28f1c.9f4b4"]]},{"id":"7fa3f37.2ca830c","type":"change","z":"3b0e487b.23f5d8","name":"Set Offline","rules":[{"t":"set","p":"payload","pt":"msg","to":"offline","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":382,"y":144,"wires":[["c4be2f50.a0f0a"]]},{"id":"c4be2f50.a0f0a","type":"mqtt out","z":"3b0e487b.23f5d8","name":"","topic":"hass/automation/speak/available","qos":"0","retain":"true","broker":"d960e8de.e65708","x":618,"y":144,"wires":[]},{"id":"4eb28f1c.9f4b4","type":"change","z":"3b0e487b.23f5d8","name":"Prep Sonos Restore","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"data.entity_id","tot":"flow"},{"t":"set","p":"payload.data.with_group","pt":"msg","to":"data.with_group","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1348,"y":432,"wires":[["dddf4aaf.c98098"]]},{"id":"dddf4aaf.c98098","type":"api-call-service","z":"3b0e487b.23f5d8","name":"Sonos Restore","server":"ab72d2fa.02a33","service_domain":"media_player","service":"sonos_restore","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1568,"y":432,"wires":[[]]},{"id":"13aa7902.7c3fe7","type":"change","z":"3b0e487b.23f5d8","name":"Set Online Again","rules":[{"t":"set","p":"payload","pt":"msg","to":"online","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1338,"y":384,"wires":[["79972570.4b4ccc"]]},{"id":"79972570.4b4ccc","type":"mqtt out","z":"3b0e487b.23f5d8","name":"","topic":"hass/automation/speak/available","qos":"0","retain":"true","broker":"d960e8de.e65708","x":1606,"y":384,"wires":[]},{"id":"3d2ed2ae.ea48ae","type":"subflow:3b0e487b.23f5d8","z":"b58633ae.2c4ce","name":"","x":1466,"y":324,"wires":[]},{"id":"f0af2168.3d3ad","type":"api-call-service","z":"cae808c1.289918","name":"Turn Off Light Group","server":"ab72d2fa.02a33","service_domain":"homeassistant","service":"turn_off","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":1691,"y":264,"wires":[[]]},{"id":"8666f098.48646","type":"switch","z":"cae808c1.289918","name":"Is Light On?","property":"isLightOn","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1049,"y":264,"wires":[["9d071b06.5f7c48"]]},{"id":"d8af8b5c.f41438","type":"switch","z":"cae808c1.289918","name":"Automated?","property":"auto","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":586,"y":264,"wires":[["c6b8a37f.b82fb"]]},{"id":"b20387d9.e3a2f8","type":"switch","z":"cae808c1.289918","name":"Movement?","property":"data.state","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":382,"y":210,"wires":[["134159c5.0e0486"],["d8af8b5c.f41438"]],"outputLabels":["Movement Detected","No Movement Detected"]},{"id":"43520454.b9294c","type":"function","z":"cae808c1.289918","name":"Define Variables","func":"var location = msg.data.entity_id.replace(\"binary_sensor.\",\"\").replace(\"_motion_sensor\",\"\");\n\nif (!(location + \"initialized\" in flow.keys)) {\n    flow.set(location + \"_location\", location);\n    var led_id = \"light.\" + location + \"_multisensor_led\"\n    flow.set(location + \"_led_id\", led_id);\n    var group_id = \"group.\" + location + \"_lights\";\n    flow.set(location + \"_group_id\", group_id);\n    var timer_id = \"timer.lighting_\" + location;\n    flow.set(location + \"_timer_id\", timer_id);\n\n    var hass = global.get(\"homeassistant\");\n    var ha = hass.homeAssistant;\n    var states = ha.states;\n    // check if there is a movement to light on relationship\n    if (timer_id in states) {\n        flow.set(location + \"_auto\",true);\n        var duration = states[timer_id].attributes[\"duration\"]; // format \"0:00:00\"\n        var a = duration.split(':');\n        // minutes are worth 60 seconds. Hours are worth 60 minutes.\n        var seconds = (+a[0]) * 3600 + (+a[1]) * 60 + (+a[2]);\n        var milliseconds = seconds * 1000\n        flow.set(location + \"_duration\", milliseconds)\n    } else {\n        flow.set(location + \"_auto\",false);\n        flow.set(location + \"_duration\", 0);\n    }\n    \n    // check if group exists\n    if (group_id in states) {\n        global.set(\"lighting.\" + location + \".group.id\", group_id);\n        global.set(\"lighting.\" + location + \".group.exists\", true);\n    } else {\n        global.set(\"lighting.\" + location + \".group.id\", group_id);\n        global.set(\"lighting.\" + location + \".group.exists\", false);\n    }\n\n    // check if there is a LED light on multisensor\n    if (led_id in states) {\n        flow.set(location+\"_led\",true);\n    } else {\n        flow.set(location+\"_led\",false);\n    }\n    flow.set(location+\"_initialized\",true);\n}\nmsg.location = location\nmsg.led_id = flow.get(location + \"_led_id\");\nmsg.group_id = flow.get(location + \"_group_id\");\nmsg.timer_id = flow.get(location + \"_timer_id\");\nmsg.duration = flow.get(location + \"_duration\");\nmsg.auto = flow.get(location + \"_auto\");\nmsg.initialized = flow.get(location + \"_initialized\");\nmsg.led = flow.get(location + \"_led\");\nif (global.get(\"lighting.\" + location + \".group.exists\")) {\n    msg.isLightOn = global.get(\"lighting.\" + location+\".group.state\");    \n} else {\n    msg.isLightOn = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":216,"wires":[["b20387d9.e3a2f8"]]},{"id":"134159c5.0e0486","type":"switch","z":"cae808c1.289918","name":"Automated?","property":"auto","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":586,"y":204,"wires":[["b40c7f0e.d11ce"]]},{"id":"fad26755.875328","type":"switch","z":"cae808c1.289918","name":"Is Light Off?","property":"isLightOn","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1078,"y":204,"wires":[["7b40ff38.59cfa"]]},{"id":"65616f1a.7ee98","type":"api-call-service","z":"cae808c1.289918","name":"Turn On Light Group","server":"ab72d2fa.02a33","service_domain":"homeassistant","service":"turn_on","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1451,"y":204,"wires":[[]]},{"id":"e3ec3ef8.db06a","type":"api-call-service","z":"bc19817.80e8e8","name":"Turn On LED","server":"ab72d2fa.02a33","service_domain":"light","service":"turn_on","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":397,"y":299,"wires":[["c6376e81.aec0c"]]},{"id":"c6376e81.aec0c","type":"delay","z":"bc19817.80e8e8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":555,"y":299,"wires":[["767a844d.c4096c"]]},{"id":"96d08366.80b3","type":"api-call-service","z":"bc19817.80e8e8","name":"Turn Off LED","server":"ab72d2fa.02a33","service_domain":"light","service":"turn_off","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":925,"y":299,"wires":[[]]},{"id":"767a844d.c4096c","type":"change","z":"bc19817.80e8e8","name":"Set Light Turn Off","rules":[{"t":"delete","p":"payload.data","pt":"msg"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"led_id","tot":"msg"},{"t":"set","p":"payload.entity_id","pt":"msg","to":"led_id","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":729,"y":299,"wires":[["96d08366.80b3"]]},{"id":"7b40ff38.59cfa","type":"change","z":"cae808c1.289918","name":"Set Light Group","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"group_id","tot":"msg"},{"t":"set","p":"payload.domain","pt":"msg","to":"homeassistant","tot":"str"},{"t":"set","p":"payload.service","pt":"msg","to":"turn_on","tot":"str"},{"t":"set","p":"payload.entity_id","pt":"msg","to":"group_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1251,"y":204,"wires":[["65616f1a.7ee98"]]},{"id":"fbf9a580.456748","type":"change","z":"cae808c1.289918","name":"Set Light Group","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"group_id","tot":"msg"},{"t":"set","p":"payload.domain","pt":"msg","to":"homeassistant","tot":"str"},{"t":"set","p":"payload.service","pt":"msg","to":"turn_off","tot":"str"},{"t":"set","p":"payload.entity_id","pt":"msg","to":"group_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1508,"y":264,"wires":[["f0af2168.3d3ad"]]},{"id":"e400f0f4.0103b","type":"switch","z":"cae808c1.289918","name":"Turn Off?","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1344,"y":264,"wires":[["fbf9a580.456748"]]},{"id":"9d071b06.5f7c48","type":"function","z":"cae808c1.289918","name":"Threshold","func":"var thresh = (msg.data.timeSinceChangedMs > msg.duration) ? true:false;\nmsg.payload = thresh;\n// var newMsg = { payload: thresh };\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":264,"wires":[["e400f0f4.0103b"]]},{"id":"c6b8a37f.b82fb","type":"function","z":"cae808c1.289918","name":"Light Exists","func":"msg.payload = global.get(\"lighting.\" + msg.location + \".exists\");\nreturn msg;","outputs":1,"noerr":0,"x":742,"y":264,"wires":[["f5f6515c.9d934"]]},{"id":"f5f6515c.9d934","type":"switch","z":"cae808c1.289918","name":"Light Exists?","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":886,"y":264,"wires":[["8666f098.48646"]]},{"id":"b40c7f0e.d11ce","type":"function","z":"cae808c1.289918","name":"Light Exists","func":"msg.payload = global.get(\"lighting.\" + msg.location + \".exists\");\nreturn msg;","outputs":1,"noerr":0,"x":754,"y":204,"wires":[["8dce7198.db2fc"]]},{"id":"8dce7198.db2fc","type":"switch","z":"cae808c1.289918","name":"Light Exists?","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":204,"wires":[["fad26755.875328"]]},{"id":"4e6e22f0.09f34c","type":"change","z":"bc19817.80e8e8","name":"Set Light Turn On","rules":[{"t":"delete","p":"payload.data","pt":"msg"},{"t":"delete","p":"data","pt":"msg"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"led_id","tot":"msg"},{"t":"set","p":"payload.data.rgb_color","pt":"msg","to":"[0,255,255]","tot":"str"},{"t":"set","p":"payload.entity_id","pt":"msg","to":"led_id","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":186,"y":300,"wires":[["e3ec3ef8.db06a"]]},{"id":"a9dd07d9.15bb08","type":"ha-get-entities","z":"612c5e89.a6411","server":"ab72d2fa.02a33","name":"","rules":[],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":293,"y":179,"wires":[["f2c42fd8.10f7f"]]},{"id":"f2c42fd8.10f7f","type":"debug","z":"612c5e89.a6411","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":503,"y":179,"wires":[]},{"id":"cf2ab6bf.8576f8","type":"inject","z":"612c5e89.a6411","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":180,"wires":[["a9dd07d9.15bb08"]]}]