node-red/flows.json
[{"id":"4df1ebb8.41e0d4","type":"tab","label":"Front Door","disabled":false,"info":""},{"id":"c602968b.2051b8","type":"tab","label":"Motion Automation","disabled":false,"info":""},{"id":"66c49aa0.fcfbf4","type":"subflow","name":"Say","info":"Input needs to be a msg payload with the two fields:\n\nmessage - What you want Sonos to say\nvolume_level - How loud do you want Sonos to say it\n\n{\n    \"message\": \"This is a sample voice command.\",\n    \"volume_level\": 0.3\n}","category":"","in":[{"x":104,"y":156,"wires":[{"id":"b68b58cc.c353b8"},{"id":"b32af84b.55e948"}]}],"out":[]},{"id":"6960f853.5a11b8","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open"},{"id":"7c2cc3ae.eb8bac","type":"mqtt-broker","z":"","name":"mqtt-hass","broker":"localhost","port":"1883","clientid":"nr_mqtt","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"hass/status","birthQos":"0","birthRetain":"true","birthPayload":"online","closeTopic":"hass/status","closeQos":"0","closeRetain":"true","closePayload":"offline","willTopic":"hass/status","willQos":"0","willRetain":"true","willPayload":"offline"},{"id":"e0053dc7.15d78","type":"poll-state","z":"4df1ebb8.41e0d4","name":"Poll State - Front Door Sensor","server":"6960f853.5a11b8","updateinterval":"30","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.ecolink_doorwindow_sensor_access_control","state_type":"str","halt_if":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":170,"y":80,"wires":[["7514f052.dd3b8","92c1eed7.49fc2"]]},{"id":"a0811362.5f9be","type":"template","z":"4df1ebb8.41e0d4","name":"Time Since Changed","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{ data.timeSinceChangedMs }}","output":"str","x":450,"y":140,"wires":[["bd2a2e06.8bf43","f79a0c3b.94129"]]},{"id":"bd2a2e06.8bf43","type":"function","z":"4df1ebb8.41e0d4","name":"Greater Than 20 Seconds","func":"var greaterThan20Seconds = (Number(msg.payload) > 20000) ? \"true\":\"false\";\nvar newMsg = { payload: greaterThan20Seconds };\nreturn newMsg;","outputs":1,"noerr":0,"x":720,"y":80,"wires":[["2135ffd5.b48fc","47d3bbb5.8fd934"]]},{"id":"7514f052.dd3b8","type":"debug","z":"4df1ebb8.41e0d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":420,"y":80,"wires":[]},{"id":"943a56b3.ac3f78","type":"debug","z":"4df1ebb8.41e0d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":80,"wires":[]},{"id":"f79a0c3b.94129","type":"debug","z":"4df1ebb8.41e0d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":140,"wires":[]},{"id":"fd7196ef.a33078","type":"api-current-state","z":"4df1ebb8.41e0d4","name":"Lock State","server":"6960f853.5a11b8","halt_if":"locked","override_topic":true,"override_payload":true,"entity_id":"lock.front_door_lock","outputs":1,"x":1160,"y":130,"wires":[["75cf7ea9.539d9","6c763588.1e4e5c"]]},{"id":"2135ffd5.b48fc","type":"switch","z":"4df1ebb8.41e0d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":140,"wires":[["fd7196ef.a33078","943a56b3.ac3f78"],["943a56b3.ac3f78"]]},{"id":"47d3bbb5.8fd934","type":"debug","z":"4df1ebb8.41e0d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":80,"wires":[]},{"id":"75cf7ea9.539d9","type":"api-call-service","z":"4df1ebb8.41e0d4","name":"Lock Front Door","server":"6960f853.5a11b8","service_domain":"lock","service":"lock","data":"{\"entity_id\":\"lock.front_door_lock\",\"code\":\"1492\"}","render_data":false,"mergecontext":"","x":1370,"y":130,"wires":[["a0bdf778.13ef78"]]},{"id":"92c1eed7.49fc2","type":"switch","z":"4df1ebb8.41e0d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"23","vt":"str"},{"t":"neq","v":"23","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":240,"wires":[["74e4d667.953968","a0811362.5f9be","e2a1a828.c0c528"],["74e4d667.953968","5014189c.d76c38"]],"outputLabels":["Closed","Open"]},{"id":"74e4d667.953968","type":"debug","z":"4df1ebb8.41e0d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":390,"y":240,"wires":[]},{"id":"5014189c.d76c38","type":"template","z":"4df1ebb8.41e0d4","name":"Time Since Changed","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{ payload.timeSinceChangedMs }}","output":"str","x":440,"y":310,"wires":[["e1a0cbae.1f2788"]]},{"id":"e1a0cbae.1f2788","type":"function","z":"4df1ebb8.41e0d4","name":"Greater Than 5 Minutes","func":"var greaterThan20Seconds = (Number(msg.payload) > 300000) ? \"true\":\"false\";\nvar newMsg = { payload: greaterThan20Seconds };\nreturn newMsg;","outputs":1,"noerr":0,"x":720,"y":310,"wires":[["70e6d4b.0da4c2c"]]},{"id":"70e6d4b.0da4c2c","type":"switch","z":"4df1ebb8.41e0d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":310,"wires":[["1ae0cff7.e2fc2"],[]]},{"id":"66984497.83950c","type":"change","z":"4df1ebb8.41e0d4","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.message","pt":"msg","to":"The front door has been open for more than 5 minutes. Please shut it.","tot":"str"},{"t":"set","p":"payload.volume_level","pt":"msg","to":"0.4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":380,"wires":[["698493f7.e6facc","baeb0db.5d7f4f"]]},{"id":"15d68fb8.13e5","type":"mqtt in","z":"4df1ebb8.41e0d4","name":"","topic":"hass/front-door/open/warned","qos":"2","broker":"7c2cc3ae.eb8bac","x":240,"y":480,"wires":[["cf7ae423.47b108"]]},{"id":"cf7ae423.47b108","type":"change","z":"4df1ebb8.41e0d4","name":"","rules":[{"t":"set","p":"warned","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":480,"wires":[[]]},{"id":"1ae0cff7.e2fc2","type":"switch","z":"4df1ebb8.41e0d4","name":"","property":"warned","propertyType":"flow","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":400,"wires":[[],["66984497.83950c"]]},{"id":"62ee123f.f8381c","type":"mqtt out","z":"4df1ebb8.41e0d4","name":"","topic":"hass/front-door/open/warned","qos":"2","retain":"true","broker":"7c2cc3ae.eb8bac","x":1770,"y":400,"wires":[]},{"id":"698493f7.e6facc","type":"change","z":"4df1ebb8.41e0d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":400,"wires":[["62ee123f.f8381c"]]},{"id":"6a3e097.f3ca9f8","type":"mqtt out","z":"4df1ebb8.41e0d4","name":"","topic":"hass/front-door/open/warned","qos":"2","retain":"true","broker":"7c2cc3ae.eb8bac","x":750,"y":190,"wires":[]},{"id":"e2a1a828.c0c528","type":"change","z":"4df1ebb8.41e0d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":190,"wires":[["6a3e097.f3ca9f8"]]},{"id":"6c763588.1e4e5c","type":"debug","z":"4df1ebb8.41e0d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1370,"y":80,"wires":[]},{"id":"f784cddf.393d9","type":"poll-state","z":"c602968b.2051b8","name":"Motion Detected In Bedroom","server":"6960f853.5a11b8","updateinterval":"180","outputinitially":false,"outputonchanged":true,"entity_id":"binary_sensor.master_bedroom_motion_detector","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":160,"y":101,"wires":[["568653e2.1813fc"]]},{"id":"568653e2.1813fc","type":"switch","z":"c602968b.2051b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":101,"wires":[["55f15f99.34447"],[]]},{"id":"55f15f99.34447","type":"api-current-state","z":"c602968b.2051b8","name":"Automation Status","server":"6960f853.5a11b8","halt_if":"off","halt_if_type":"","halt_if_compare":"is","override_topic":false,"override_payload":false,"override_data":false,"entity_id":"input_boolean.bedroom_automation","state_type":"habool","outputs":2,"x":570,"y":61,"wires":[["59cd508.569a2b"],[]]},{"id":"59cd508.569a2b","type":"api-call-service","z":"c602968b.2051b8","name":"Turn on Master Bedroom Lights","server":"6960f853.5a11b8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"group.bedroom_lights\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":850,"y":61,"wires":[[]]},{"id":"a0bdf778.13ef78","type":"debug","z":"4df1ebb8.41e0d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1570,"y":80,"wires":[]},{"id":"87340bb9.fce648","type":"server-state-changed","z":"4df1ebb8.41e0d4","name":"Front Door Lock","server":"6960f853.5a11b8","entityidfilter":"lock.front_door_lock","entityidfiltertype":"exact","outputinitially":true,"haltifstate":"","outputs":1,"x":140,"y":580,"wires":[["573a8ad0.2fe7c4"]]},{"id":"573a8ad0.2fe7c4","type":"mqtt out","z":"4df1ebb8.41e0d4","name":"","topic":"hass/front-door/locked","qos":"0","retain":"true","broker":"7c2cc3ae.eb8bac","x":490,"y":580,"wires":[]},{"id":"b32af84b.55e948","type":"change","z":"66c49aa0.fcfbf4","name":"Handle User Input","rules":[{"t":"set","p":"message","pt":"flow","to":"payload.message","tot":"msg"},{"t":"set","p":"volume_level","pt":"flow","to":"payload.volume_level","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":246,"y":228,"wires":[["a52f4fe6.b60a9"]]},{"id":"a52f4fe6.b60a9","type":"ha-get-entities","z":"66c49aa0.fcfbf4","server":"6960f853.5a11b8","name":"Get Sonos","rules":[{"property":"entity_id","logic":"starts_with","value":"media_player","valueType":"str"},{"property":"attributes.supported_features","logic":"is","value":"64063","valueType":"num"}],"output_type":"array","output_empty_results":true,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":250,"y":276,"wires":[["1af0e21a.cfcc4e"]]},{"id":"1af0e21a.cfcc4e","type":"switch","z":"66c49aa0.fcfbf4","name":"Sonos Available?","property":"payload.length","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":306,"y":324,"wires":[["7c6e6987.e6c8b8"],[]],"outputLabels":["Entities were found.","No entities found."]},{"id":"7c6e6987.e6c8b8","type":"function","z":"66c49aa0.fcfbf4","name":"Define variables","func":"var entities_ids = \"\";\nvar master_entity_id = \"\";\nvar volume = flow.get(\"volume_level\")||0.1;\nvar message = flow.get(\"message\")||\"\";\nvar with_group = true;\n\nfor (let i=0; i<msg.payload.length; i++){\n    entities_ids += msg.payload[i].entity_id;\n    if (i<msg.payload.length-1) {\n        entities_ids += \",\";\n    }\n    if (i===0) {\n        master_entity_id = msg.payload[i].entity_id;\n    }\n}\n\nvar flowMsg = {\n    payload: {\n        entity_id: entities_ids,\n        master: master_entity_id,\n        volume_level: volume,\n        message: message,\n        with_group: with_group\n    }\n};\nreturn flowMsg;","outputs":1,"noerr":0,"x":488,"y":192,"wires":[["c71c0343.3e5b1"]]},{"id":"c71c0343.3e5b1","type":"change","z":"66c49aa0.fcfbf4","name":"Save variables as flow","rules":[{"t":"set","p":"data","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":532,"y":240,"wires":[["b06d8416.8ef928"]]},{"id":"b06d8416.8ef928","type":"change","z":"66c49aa0.fcfbf4","name":"Prep Sonos Snapshot","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"data.entity_id","tot":"flow"},{"t":"set","p":"payload.data.with_group","pt":"msg","to":"data.with_group","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":568,"y":288,"wires":[["2a8b4ec.af679b2"]]},{"id":"2a8b4ec.af679b2","type":"api-call-service","z":"66c49aa0.fcfbf4","name":"Sonos Snapshot","server":"6960f853.5a11b8","service_domain":"media_player","service":"sonos_snapshot","data":"","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":572,"y":336,"wires":[["79a16397.4e72ac"]]},{"id":"79a16397.4e72ac","type":"delay","z":"66c49aa0.fcfbf4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":612,"y":384,"wires":[["dcf87d50.0636d"]]},{"id":"dcf87d50.0636d","type":"change","z":"66c49aa0.fcfbf4","name":"Prep Sonos Unjoin","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"data.entity_id","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":824,"y":192,"wires":[["d6318ee6.fb53b"]]},{"id":"d6318ee6.fb53b","type":"api-call-service","z":"66c49aa0.fcfbf4","name":"Sonos Unjoin","server":"6960f853.5a11b8","service_domain":"media_player","service":"sonos_unjoin","data":"","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":828,"y":240,"wires":[["1603ec3a.7e3194"]],"icon":"node-red/split.png"},{"id":"1603ec3a.7e3194","type":"delay","z":"66c49aa0.fcfbf4","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":288,"wires":[["d2b4cab8.90b918"]]},{"id":"d2b4cab8.90b918","type":"change","z":"66c49aa0.fcfbf4","name":"Prep Sonos Join","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"data.entity_id","tot":"flow"},{"t":"set","p":"payload.data.master","pt":"msg","to":"data.master","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":826,"y":336,"wires":[["aa610b43.adbf58"]]},{"id":"4741d530.f5d2bc","type":"change","z":"66c49aa0.fcfbf4","name":"Prep Sonos Volume","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"data.entity_id","tot":"flow"},{"t":"set","p":"payload.data.volume_level","pt":"msg","to":"data.volume_level","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1086,"y":192,"wires":[["4cd4595b.30d6e8"]]},{"id":"4c8ccbb3.a6b0d4","type":"change","z":"66c49aa0.fcfbf4","name":"Prep Sonos Say","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"data.entity_id","tot":"flow"},{"t":"set","p":"payload.data.message","pt":"msg","to":"data.message","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":336,"wires":[["bb1da51.ac62858"]]},{"id":"aa610b43.adbf58","type":"api-call-service","z":"66c49aa0.fcfbf4","name":"Sonos Join","server":"6960f853.5a11b8","service_domain":"media_player","service":"sonos_join","data":"","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":384,"wires":[["4b8bf75b.80fde8"]],"icon":"node-red/join.png"},{"id":"4b8bf75b.80fde8","type":"delay","z":"66c49aa0.fcfbf4","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":852,"y":432,"wires":[["4741d530.f5d2bc"]]},{"id":"4cd4595b.30d6e8","type":"api-call-service","z":"66c49aa0.fcfbf4","name":"Set Volume","server":"6960f853.5a11b8","service_domain":"media_player","service":"volume_set","data":"","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1078,"y":240,"wires":[["6f3998d1.5d3138"]]},{"id":"6f3998d1.5d3138","type":"delay","z":"66c49aa0.fcfbf4","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1078,"y":288,"wires":[["4c8ccbb3.a6b0d4"]]},{"id":"bb1da51.ac62858","type":"api-call-service","z":"66c49aa0.fcfbf4","name":"Sonos Say","server":"6960f853.5a11b8","service_domain":"tts","service":"google_say","data":"","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1102,"y":384,"wires":[["db06057f.41e568","22f8bed6.68f6e2"]]},{"id":"db06057f.41e568","type":"delay","z":"66c49aa0.fcfbf4","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":432,"wires":[["39764e17.d151d2"]]},{"id":"b68b58cc.c353b8","type":"change","z":"66c49aa0.fcfbf4","name":"Set Offline","rules":[{"t":"set","p":"payload","pt":"msg","to":"offline","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":382,"y":144,"wires":[["5887cc6a.bcc694"]]},{"id":"5887cc6a.bcc694","type":"mqtt out","z":"66c49aa0.fcfbf4","name":"","topic":"hass/automation/speak/available","qos":"0","retain":"true","broker":"7c2cc3ae.eb8bac","x":618,"y":144,"wires":[]},{"id":"39764e17.d151d2","type":"change","z":"66c49aa0.fcfbf4","name":"Prep Sonos Restore","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"data.entity_id","tot":"flow"},{"t":"set","p":"payload.data.with_group","pt":"msg","to":"data.with_group","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1348,"y":432,"wires":[["b3774dc1.38335"]]},{"id":"b3774dc1.38335","type":"api-call-service","z":"66c49aa0.fcfbf4","name":"Sonos Restore","server":"6960f853.5a11b8","service_domain":"media_player","service":"sonos_restore","data":"","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1568,"y":432,"wires":[[]]},{"id":"22f8bed6.68f6e2","type":"change","z":"66c49aa0.fcfbf4","name":"Set Online Again","rules":[{"t":"set","p":"payload","pt":"msg","to":"online","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1338,"y":384,"wires":[["7b8c4d45.01f2f4"]]},{"id":"7b8c4d45.01f2f4","type":"mqtt out","z":"66c49aa0.fcfbf4","name":"","topic":"hass/automation/speak/available","qos":"0","retain":"true","broker":"7c2cc3ae.eb8bac","x":1606,"y":384,"wires":[]},{"id":"baeb0db.5d7f4f","type":"subflow:66c49aa0.fcfbf4","z":"4df1ebb8.41e0d4","name":"","x":1466,"y":324,"wires":[]}]